<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lakala.ls.ms.mapper.CheckLoanApplyMapper">

    <select id="queryCheckLoanApply" parameterType="java.lang.String"
            resultType="com.lakala.ls.ms.dto.CheckLoanApplyDTO">
        select
          t1.loan_no as loanNo,
          t1.merchant_id as merchantId,
          t1.product_id as productId,
          t1.channel_id as channelId,
          t1.user_id as userId,
          t1.merchant_user_id as merchantUserId,
          t1.loan_amount as loanAmount,
          t1.phased_repay_unit as phasedRepayUnit,
          t1.phased_repay_period as phasedRepayPeriod,
          t1.repay_interest as repayInterest,
          t1.merchant_user_register_time as merchantUserRegisterTime,
          t1.apply_time as applyTime,
          t1.approve_time as approveTime,
          t1.loan_time as loanTime,
          t1.clear_date as clearDate
        from check_loan_apply t1
        where t1.clear_date = #{clearDate}
          and t1.loan_state = '2'
    </select>

    <delete id="deleteCheckLoanApply" parameterType="java.lang.String">
        delete from check_loan_apply
        where clear_date = #{clearDate}
    </delete>

    <insert id="loadCheckLoanApply" parameterType="java.util.Map">
        insert into check_loan_apply (loan_no, merchant_id, product_id, channel_id, user_id, merchant_user_id, loan_amount,
          phased_repay_unit, phased_repay_period, repay_interest, merchant_user_register_time, apply_time, approve_time,
          loan_time, loan_state, clear_date, first_success_loan_flag, create_time)
        select
          loan_no, merchant_id, product_id, channel_id, user_id, merchant_user_id, loan_amount,
          phased_repay_unit, phased_repay_period, repay_interest, merchant_user_register_time, apply_time, approve_time,
          loan_time, state, #{clearDate} as clear_date, first_success_loan_flag, now() as create_time
        from user_loan_apply
        where state = #{state}
          and (DATE_FORMAT(create_time, '%Y%m%d') = #{clearDate}
            or DATE_FORMAT(update_time, '%Y%m%d') = #{clearDate})
    </insert>

    <update id="updateCheckLoanApplyState" parameterType="com.lakala.ls.ms.dto.CheckLoanApplyDTO">
        update check_loan_apply
          set phase = #{phase},
              phase_state = #{phaseState}
        where loan_no = #{loanNo}
    </update>

</mapper>