<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lakala.ls.ms.mapper.JnlMapper">

	<insert id="addjnl" parameterType="com.lakala.ls.ms.domain.Jnl">
        insert into jnl (
     	  uri,ip,refer,agent,createtime
        )values (
        #{uri},
        #{ip},
        #{refer},
        #{agent},
        now()
         )
    </insert>
    
</mapper>