<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lakala.ls.ms.mapper.MerchantShareBenefitMapper">

    <select id="queryShareBenefit" resultType="com.lakala.ls.ms.dto.MerchantShareBenefitDTO">
        select
          merchant_id as merchantId, rate
        from merchant_share_benefit
    </select>

</mapper>